<form [formGroup]="form" (ngSubmit)="validateData()" class="container p-5">
  <div class="input-group p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="cne"> &nbsp;&nbsp; &nbsp;CNE &nbsp; &nbsp; &nbsp; </span>
    </div>
    <input formControlName="cne" type="text" class="form-control">
  </div>
  <div class="input-group p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="fname">First  name</span>
    </div>
    <input formControlName="fname" type="text" class="form-control">
  </div>
  <div class="input-group p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="lname">Last  name</span>
    </div>
    <input formControlName="lname" type="text" class="form-control">
  </div>

  <button type="submit" [disabled]="!form.valid" class="btn btn-primary  mx-auto d-block pr-5 pl-5 mt-3">Add Joke</button>
</form>
