<form  [formGroup]="form"  (ngSubmit)="validateData()"  class="container p-5">
  <div class="input-group p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="author"> Author </span>
    </div>
    <input formControlName="author" type="text" class="form-control">
  </div>
  <div class="input-group p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="text">&nbsp;Joke &nbsp;</span>
    </div>
    <input formControlName="value" type="text" class="form-control">
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary  mx-auto d-block pr-5 pl-5 mt-3">Add Joke</button>
</form>
